BODY
{
}
.clsFecha
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana
}
.clsMapaSitio
{
    FONT-SIZE: 8pt;
    COLOR: #ffcc33;
    FONT-FAMILY: Verdana
}
.clsParrafo
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.clsEnlace
{
    FONT-SIZE: 8pt;
    COLOR: #ffcc33;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.clsEnlace:hover
{
    FONT-SIZE: 8pt;
    COLOR: #ffcc33;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: underline
}
.clsPie
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana
}
.clsEnlaceSubir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #336699;
}
